@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background:#FFA5A5;
    margin-top: 30vh;
    color: #fff;
    font-size: 1.6rem;
    }


    .link{
        text-decoration: none;
        color: #FF4343;
    }

    .author{
        font-size: 1.2rem;
        color: #EEEEEF;
    }


   
