body{
  background: #F6F3F3;
}


.header{
  background:#FFFFFF;
}

.header>form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #CCCCCC;
}

.header form>input{
  margin: 20px;
  width: 80%;
  height: 45px;
  outline: unset;
  padding: 5px;
  font-size: 2rem;
  border:unset;
  border:2px solid;
  border-radius: 5px;
  background: none;
}

.btn-styled{
  height:45px;
  width: 80px;
  border:2px solid;
}


.media{
  margin: 25px;
  background: #FFFFFF;
  outline: none;
  border-radius: 5px;
  height: 100px;
}

.media-left{

  text-align: center;
  font-size: 2rem;
  min-width: 100px !important;
  max-width: 100px !important;
  border-right: 1px solid #CCCCCC;
  padding: 15px;
  height: 100vh;
}

.media-right{
  text-align: center;
  font-size: 3rem;
  max-width: 150px !important;
  min-width: 150px !important;
  padding-top: 30px;
}

.media-body{
  padding-left: 10px;
  padding-top: 15px;
}



a{
  outline: none;
}



.comments-section{
  margin-top: 5vh;
}



.comments-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comment-item{
  border: 1px solid #DDE4EA;
  border-radius: 5px;
  width: 80%;
  position: relative;
  background: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
}

.comment-username{
  float:left;
  clear:both;
}

.comment-date{
  float:right;
}

.comments-votes{
  border-top: 1px solid #DDE4EA ;
  padding: 5px;
}

.comment-item-reply{
  width: 100%;
}

.post-header{
  display: inline-flex;
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
  width: 100%;
  justify-content: space-between;

}
.post-header>h2{
  justify-content: center;
}

.content-section-container{
  display:flex;
  justify-content: center;
}

.content-section{
  margin-top: 5vh;
  background: #fff;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #cccccc;
}


.link-content{
  border: 1px solid #ccc;
}

.media-link{
  border-right: unset;
  height: 100%;
  min-width: unset !important;
  max-width: unset !important;
  border-right: 1px solid #ccc;
}

.self-content{
  padding: 10px;
}

.tweet-container{
  display: flex;
  justify-content: center;
}



.comment-form{
  display: flex;
  justify-content: center;
}

.comment-form>textarea{
  width:74%;
  resize: none;
  height: 10vh;
  outline: unset;
  font-size: 2rem;
}
.comment-form>button{
  width: 5%;
  margin-left: 1%;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin: 10px;
}


.loader-container{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 40vh;
}

@keyframes loader{
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}


span{
  display:block;
  border: 1px solid;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
  animation: loader 0.4s alternate infinite ease-in-out;
}

span:nth-child(odd){
  animation-delay: 0.4s;
}